#1 for horiz. and 2 for vert.
MOUNTING = 1

#0 is trivial, 1 is Christian, 2 is Sebastian
CLUSTERING = 1

TIMEWINDOW_CLUST_SEB = 6 #sebastian
TIMEWINDOW_CLUST_CHR = 5 #christian


ELLIPSE_AY = 0.025
ELLIPSE_BY = 0.9
MINSELHITS = 3
VISFLAG = 1

#stop the run after trigger id:
MAXTRIGGER = 100000

PSAPLOT = 0
TRACKING_WITHOUT_CLUSTERING = 1
