/build/

macro/detectors/lmd/**/*.root

**/data/

.vscode/
.vscode/**
.vscode/settings.json
macro/target/*.root
macro/target/correction/*.root
macro/target/correction/*.png
macro/target/configs/
macro/target/gphysi.dat
macro/target/vtx_stats.txt
input/restgas_*.txt
macro/target/acc_*.json
