DefineList Jpsi
  decayMode J/psi -> e+ e-
  daughterList ElectronVeryLoose
  daughterList ElectronVeryLoose
  histogram 1.0
#  select Mass 3.096 0.3
End

DefineList Psi2s
  decayMode psi(2S) -> J/psi pi+ pi-
  daughterList Jpsi
  daughterList PionVeryLoose
  daughterList PionVeryLoose
  histogram 0.5
End

dumpList Psi2s					psi	p4 p3cm pos m
dumpList Jpsi					jp	p4 p3cm m miss
dumpList ElectronVeryLoose 		e	p4 p3 p3cm m ch mci pid
dumpList PionVeryLoose			pi	p4 p3 p3cm m ch mci pid
 