#
Alignment input =  AlignmentFiles/Try8/asumed.txt
Alignment output = AlignmentFiles/Try8/alignout1.txt
Track file = Tracks/Try8/out1.root
Simulation = false
AlignU = true
AlignZ = false
AlignT = true
AlignP = false
fixU = 1,2,7,8
fixZ = 1,2,7,8
fixT = 1,2
fixP= 1,2,7,8
HistogramFile = Histograms/Try8/histogram1.root