# cuts eff90 (loose)
# only comparisons or windows 'abs(var-const)<const' with simple variables are allowed
# candidate variables are only accepted without prefix (e.g. 'pcm>...' instead of 'phipcm>...')

# NOTE: not all possible variables are mapped in PndSoftTriggerTask per default
#       always check routines FillEventShapeVarArray and FillVarArray and array definition 'TString fSTnames[]'

24000 : eslnpidk>1&&pcm<0.75&&pcm>0.4
24400 : eslnpidp>0&&mmiss>1&&pcm>0.31&&d0pcm<0.52
24300 : detemcsum>0.46

38000 : eslnpidk>1&&pcm>1.2&&esthr>0.8
38400 : eslnpidp>0&&pcm>1.3&&p>0.7&&mmiss<1.52
38300 : eslnpide>1
38200 : eslnpide>1&&pcm<1.1
38201 : eslnpidmu>1&&pcm<1.1
38221 : eslnpidk>0
38100 : eslnpidk>0&&pcm<0.39&&d0pt>0.25
38120 : eslnpidk>0

45000 : eslnpidk>1&&pcm>1.5&&esthr>0.79
45400 : eslnpidp>0&&mmiss<2.1&&p>1.1&&esapl<0.028
45300 : eslnpide>1&&pcm<2
45200 : eslnpide>1&&detemcmax>2.5&&pcm<1.7
45201 : eslnpidmu>1&&pcm<1.6
45221 : eslnpidpi>2&&essumptcl>1.8&&pcm<1.4&&mmiss<1.7&&d1p>0.25
45100 : eslnpidk>0&&pcm<1.6&&pcm>0.8&&d1p<6
45120 : eslnpidk>0
45140 : eslnpidk>0&&pcm>0.55&&p<8&&thtcm>0.5

55000 : eslnpidk>1&&pcm>1.8&&pt>0.5
55400 : esthr>0.87&&pcm>1&&mmiss<2.4
55300 : eslnpide>1&&pcm<2
55200 : eslnpide>1&&pcm<1.86&&detemcmax>3.5
55201 : eslnpidmu>1&&pcm<2
55221 : pcm<2&&d1p>0.38&&ecm>2.8&&eslnpide<1
55100 : eslnpidk>0&&pcm<2.3&&pcm>0.95
55120 : eslnpidk>0
55140 : eslnpidk>0&&pcm>0.6&&thtcm>0.5
55420 : eslnpidp>0&&p>2.7
