# Trigger line definitions for PndSoftTriggerTask
# NOTE: - If a field should be left emtpy, put at least some white space between colons
#       - A line can be commented by a # as _first_ character in the line; easy way to exclude modes from being triggered
#
# Meaning of columns:
#  name    = arbitrary, but unique name of the mode; used in QA event tuple for tagging info (e.g. branch tagphi2k = number of tags of phi2k line)
#  decay   = decay pattern with EvtGen names; the arrow must be exactly '->'
#            - cc as last item sets the charged conjugation flag
#            - allowed final states are: e+  e-  mu+  mu-  pi+  pi-  K+  K-  proton  antiproton  gamma  pi0  K_S0  eta
#            - no cascaded decays supported so far
#            - pbarpSystem(0) can be shortcut with pbp(0)
#  prefix  = prefix for candidate branches in the RhoTuple 
#  ntpname = name of the QA ntuple in ROOT file
#  qamin   = min mass cut for the QA tuple; if given with a sign (+/-) in front, it's relative to mean
#  qamax   = max mass cut for the QA tuple; if given with a sign (+/-) in front, it's relative to mean
#  mean    = mean value of the invariant mass distribution of reco'd candidates to be used in final mass selection; 'Ecm' -> mean = center-of-mass energy
#  sigma   = sigma value of the invariant mass distribution of reco'd candidates to be used in final mass selection
#  thresh  = threshold center-of-mass energy (= sqrt(s)) for the trigger line; below it will be disabled
#  nsig    = default +-nsig*sigma mass cut around mean for final selection; can be changed by PndSoftTriggerTask::SetTagNSigMode(int mode, double nsig)
#  fqa     = default QA output flag; can be changed by PndSoftTriggerTask::SetQAMode(int mode, bool qa)
#  ftag    = default for tag status (1=active/0=inactive); can be changed by PndSoftTriggerTask::SetTagMode(int mode, bool tag)

#--------------------------------------------------------------------------------------------------------------------------------------------------------
# mode  | name          | decay                                    | prefix | ntpname  | qamin  | qamax  | mean    | sigma  | thresh | nsig | fqa | ftag
#--------------------------------------------------------------------------------------------------------------------------------------------------------

# Open charm

100     : d0kpi         : D0 -> K- pi+ cc                          : d0     : nd00     : 1.564  : 2.164  : 1.863   : 0.022  : 3.728  : 8.0  : 1   : 1 
101     : d0kpipi0      : D0 -> K- pi+ pi0 cc                      : d0     : nd01     : 1.564  : 2.164  : 1.866   : 0.019  : 3.728  : 8.0  : 1   : 1 
102     : d0k3pi        : D0 -> K- pi+ pi+ pi- cc                  : d0     : nd02     : 1.564  : 2.164  : 1.863   : 0.017  : 3.728  : 8.0  : 1   : 1 
103     : d0ks2pi       : D0 -> K_S0 pi+ pi- cc                    : d0     : nd03     : 1.564  : 2.164  : 1.863   : 0.017  : 3.728  : 8.0  : 1   : 1 
104     : d0ks2pipi0    : D0 -> K_S0 pi+ pi- pi0 cc                : d0     : nd04     : 1.564  : 2.164  : 1.863   : 0.017  : 3.728  : 8.0  : 1   : 1 

110     : d0stkpi       : D*0 -> D0 [K- pi+] pi0 cc                : dst0   : ndst00   : -0.4   : +0.4   : 2.007   : 0.025  : 3.872  : 8.0  : 1   : 1 
111     : d0stkpipi0    : D*0 -> D0 [K- pi+ pi0] pi0 cc            : dst0   : ndst01   : -0.4   : +0.4   : 2.007   : 0.025  : 3.872  : 8.0  : 1   : 1 
112     : d0stk3pi      : D*0 -> D0 [K- pi+ pi+ pi-] pi0 cc        : dst0   : ndst02   : -0.4   : +0.4   : 2.007   : 0.025  : 3.872  : 8.0  : 1   : 1 
113     : d0stks2pi     : D*0 -> D0 [K_S0 pi+ pi-] pi0  cc         : dst0   : ndst03   : -0.4   : +0.4   : 2.007   : 0.025  : 3.872  : 8.0  : 1   : 1 
114     : d0stks2pipi0  : D*0 -> D0 [K_S0 pi+ pi- pi0] pi0 cc      : dst0   : ndst04   : -0.4   : +0.4   : 2.007   : 0.025  : 3.872  : 8.0  : 1   : 1  

115     : d0stkpig      : D*0 -> D0 [K- pi+] gamma cc              : dst0   : ndst05   : -0.4   : +0.4   : 2.007   : 0.025  : 3.872  : 8.0  : 1   : 1 
116     : d0stkpipi0g   : D*0 -> D0 [K- pi+ pi0] gamma cc          : dst0   : ndst06   : -0.4   : +0.4   : 2.007   : 0.025  : 3.872  : 8.0  : 1   : 1 
117     : d0stk3pig     : D*0 -> D0 [K- pi+ pi+ pi-] gamma cc      : dst0   : ndst07   : -0.4   : +0.4   : 2.007   : 0.025  : 3.872  : 8.0  : 1   : 1 
118     : d0stks2pig    : D*0 -> D0 [K_S0 pi+ pi-] gamma cc        : dst0   : ndst08   : -0.4   : +0.4   : 2.007   : 0.025  : 3.872  : 8.0  : 1   : 1 
119     : d0stks2pipi0g : D*0 -> D0 [K_S0 pi+ pi- pi0] gamma cc    : dst0   : ndst09   : -0.4   : +0.4   : 2.007   : 0.025  : 3.872  : 8.0  : 1   : 1  

120     : dpmk2pi       : D+ -> K- pi+ pi+ cc                      : dpm    : ndpm0    : 1.569  : 2.169  : 1.868   : 0.016  : 3.738  : 8.0  : 1   : 1 
121     : dpmkpipi0     : D+ -> K- pi+ pi+ pi0 cc                  : dpm    : ndpm1    : 1.569  : 2.169  : 1.870   : 0.019  : 3.738  : 8.0  : 1   : 1 
122     : dpmkspipi0    : D+ -> K_S0 pi+ pi0 cc                    : dpm    : ndpm2    : 1.569  : 2.169  : 1.870   : 0.019  : 3.738  : 8.0  : 1   : 1 
123     : dpmks3pi      : D+ -> K_S0 pi+ pi+ pi- cc                : dpm    : ndpm3    : 1.569  : 2.169  : 1.867   : 0.017  : 3.738  : 8.0  : 1   : 1 

130     : dpmstkpi      : D*+ -> D0 [K- pi+] pi+ cc                : dstpm  : ndstpm0  : -0.4   : +0.4   : 2.010   : 0.030  : 3.880  : 8.0  : 1   : 1 
131     : dpmstkpipi0   : D*+ -> D0 [K- pi+ pi0] pi+ cc            : dstpm  : ndstpm1  : -0.4   : +0.4   : 2.010   : 0.030  : 3.880  : 8.0  : 1   : 1 
132     : dpmstk3pi     : D*+ -> D0 [K- pi+ pi+ pi-] pi+ cc        : dstpm  : ndstpm2  : -0.4   : +0.4   : 2.010   : 0.030  : 3.880  : 8.0  : 1   : 1 
133     : dpmstks2pi    : D*+ -> D0 [K_S0 pi+ pi-] pi+ cc          : dstpm  : ndstpm3  : -0.4   : +0.4   : 2.010   : 0.030  : 3.880  : 8.0  : 1   : 1 
134     : dpmstks2pipi0 : D*+ -> D0 [K_S0 pi+ pi- pi0] pi+ cc      : dstpm  : ndstpm4  : -0.4   : +0.4   : 2.010   : 0.030  : 3.880  : 8.0  : 1   : 1 

135     : dpmstk2pi     : D*+ -> D+ [K- pi+ pi+] pi0 cc            : dstpm  : ndstpm5  : -0.4   : +0.4   : 2.010   : 0.030  : 3.880  : 8.0  : 1   : 1 
136     : dpmstkpipi0   : D*+ -> D+ [K- pi+ pi+ pi0] pi0 cc        : dstpm  : ndstpm6  : -0.4   : +0.4   : 2.010   : 0.030  : 3.880  : 8.0  : 1   : 1 
137     : dpmstkspipi0  : D*+ -> D+ [K_S0 pi+ pi0] pi0 cc          : dstpm  : ndstpm7  : -0.4   : +0.4   : 2.010   : 0.030  : 3.880  : 8.0  : 1   : 1 
138     : dpmstks3pi    : D*+ -> D+ [K_S0 pi+ pi+ pi-] pi0 cc      : dstpm  : ndstpm8  : -0.4   : +0.4   : 2.010   : 0.030  : 3.880  : 8.0  : 1   : 1 

# Charm-Strange

140     : ds2kpi        : D_s+ -> K+ K- pi+ cc                     : ds     : nds0     : 1.718  : 2.218  : 1.967   : 0.0145 : 3.937  : 8.0  : 1   : 1 
141     : ds2kpipi0     : D_s+ -> K+ K- pi+ pi0 cc                 : ds     : nds1     : 1.718  : 2.218  : 1.970   : 0.016  : 3.937  : 8.0  : 1   : 1 

150     : dsst2kpi      : D*_s+ -> D_s+ [K+ K- pi+] gamma cc       : dss    : ndss0    : -0.4   : +0.4   : 2.112   : 0.030  : 3.937  : 8.0  : 1   : 1 
151     : dsst2kpipi0   : D*_s+ -> D_s+ [K+ K- pi+ pi0] gamma cc   : dss    : ndss1    : -0.4   : +0.4   : 2.112   : 0.030  : 3.937  : 8.0  : 1   : 1 

# Charmonium 

200     : j2e           : J/psi -> e+ e-                           : jpsi   : njpsi0   : 2.097  : 3.847  : 3.070   : 0.100  : 3.090  : 8.0  : 1   : 1  
201     : j2mu          : J/psi -> mu+ mu-                         : jpsi   : njpsi1   : 2.097  : 3.847  : 3.094   : 0.045  : 3.090  : 8.0  : 1   : 1  

220     : etac2kpi0     : eta_c -> K+ K- pi0                       : etac   : netac0   : 2.330  : 3.630  : 2.981   : 0.042  : 2.900  : 8.0  : 1   : 1  
221     : etackskpi     : eta_c -> K_S0 K- pi+ cc                  : etac   : netac1   : 2.330  : 3.630  : 2.976   : 0.036  : 2.900  : 8.0  : 1   : 1  
222     : etac2g        : eta_c -> gamma gamma                     : etac   : netac2   : 2.330  : 3.630  : 2.999   : 0.041  : 2.900  : 8.0  : 1   : 1  

240     : chic02k2pi    : chi_0c -> pi+ pi- K+ K-                  : chic0  : nchic00  : 2.815  : 4.015  : 3.414   : 0.040  : 3.390  : 8.0  : 1   : 1  
241     : chic0kpikspi0 : chi_0c -> K+ pi- K_S0 pi0 cc             : chic0  : nchic01  : 2.815  : 4.015  : 3.414   : 0.040  : 3.390  : 8.0  : 1   : 1  

# Baryons

400     : lamppi        : Lambda0 -> proton pi- cc                 : lam    : nlam     : 0.965  : 1.265  : 1.115   : 0.0045 : 2.230  : 8.0  : 1   : 1 

410     : sigppi0       : Sigma+ -> proton pi0 cc                  : sig    : nsig     : -0.1   : +0.1   : 1.189   : 0.008  : 2.378  : 8.0  : 1   : 1

420     : lamcpkpi      : Lambda_c+ -> proton K- pi+ cc            : lamc   : nlamc0   : 2.086  : 2.486  : 2.284   : 0.011  : 4.568  : 8.0  : 1   : 1  
421     : lamcpkpipi0   : Lambda_c+ -> proton K- pi+ pi0 cc        : lamc   : nlamc1   : 2.086  : 2.486  : 2.284   : 0.015  : 4.568  : 8.0  : 1   : 1  
422     : lamcpkspi0    : Lambda_c+ -> proton K_S0 pi0 cc          : lamc   : nlamc1   : 2.086  : 2.486  : 2.284   : 0.015  : 4.568  : 8.0  : 1   : 1  

# Light hadrons

500     : phi2k         : phi -> K+ K-                             : phi    : nphi     : 0.919  : 1.119  : 1.0195  : 0.0040 : 1.000  : 8.0  : 1   : 1 

# Non-resonant

600     : ee            : pbp0 -> e+ e-                            : ee     : n2e      : -1.5   : +1.0   : Ecm     : 0.125  : 0.0    : 8.0  : 1   : 1  
620     : mumu          : pbp0 -> mu+ mu-                          : mumu   : n2mu     : -1.5   : +1.0   : Ecm     : 0.09   : 0.0    : 8.0  : 1   : 1  
640     : gg            : pbp0 -> gamma gamma                      : gg     : n2g      : -1.0   : +1.0   : Ecm     : 0.065  : 0.0    : 8.0  : 1   : 1  



#--------------------------------------------------
# some BR info
#--------------------------------------------------
#
# phi -> K+ K-                  (49.8 %)    (500)
#                                                
# Lambda -> p pi-               (63.9 %)    (400)
#
# Sigma+ -> p pi0               (51.4 %)    (410)
#
# J/psi -> e+e-                 ( 5.9 %)    (200)
# J/psi -> mu+ mu-              ( 5.9 %)    (201)
#                              ---------
#           Sum J/psi BR        (11.9 %)
#
#
# D0 -> K- pi+                  ( 3.9 %)    (100)
# D0 -> K- pi+ pi0              (13.9 %)    (101)
# D0 -> K- pi+ pi+ pi-          ( 8.1 %)    (102)
# D0 -> K_S pi+ pi-             ( 2.0 %)    (103)    = 2.9 % * BR(KS->pi pi) = 69 %
# D0 -> K_S pi+ pi- pi0         ( 3.7 %)    (104)    = 5.4 % * BR(KS->pi pi) 
#                              ---------
#           Sum D0 BR           (31.6 %)
#
#
# D+- -> K- pi+ pi+             ( 9.4 %)    (120)
# D+- -> K- pi+ pi+ pi0         ( 6.1 %)    (121)
# D+- -> K_S pi+ pi0            ( 4.8 %)    (122)    = 6.9 % * BR(KS->pi pi) 
# D+- -> K_S pi+ pi+ pi-        ( 2.1 %)    (123)    = 3.1 % * BR(KS->pi pi) 
#                              ---------
#           Sum D+- BR          (22.4 %)
#
#
# Ds -> K+ K- pi+               ( 5.5 %)    (140)
# Ds -> K+ K- pi+ pi0           ( 5.6 %)    (141)
#                              ---------
#           Sum Ds BR           (11.1 %)
#
# D*0 -> D0 pi0                 (61.9 %)    (110 - 114)
# D*0 -> D0 gamma               (38.1 %)    (115 - 119)
#                              ---------
#           Sum D*0 BR * subBR  (31.6 %)    
#
#
# D*+ -> D0 pi+                 (67.7 %)    (130 - 134)
# D*+ -> D+ pi0                 (30.7 %)    (135 - 138)
#                              ---------
#           Sum D*+ BR * subBR  (28.3 %)    
#
#         
# Ds* -> Ds gamma  ( * subBR)   (10.5 %)    (150, 151)
#
# Lambda_c -> p K- pi+          ( 5.0 %)    (420)
# Lambda_c -> p K- pi+ pi0      ( 3.4 %)    (421)
# Lambda_c -> p K_S pi0         ( 1.7 %)    (422)
#
# eta_c -> K+ K- pi0            ( 1.7 %)    (220)
# eta_c -> K+- K_S pi-+         ( 1.1 %)    (221)    = 1.6 % * BR(KS->pi pi) 
# eta_c -> gg                   ( 0.0 %)    (222)    = 6e-5
#                              ---------
#           Sum eta_c BR        ( 2.8 %)
#
# 
# chi_c0 -> pi+ pi- K+  K-      ( 1.8 %)    (240)
# chi_c0 -> K+ pi- K_S pi0      ( 1.7 %)    (241)    = 2.5 % * BR(KS->pi pi)
#                              --------- 
#           Sum chi_c0 BR       ( 4.3 %)
#
#
# pbar p -> e+ e-                           (600)
# pbar p -> mu+ mu-                         (620)
# pbar p -> gam gam                         (640)
